.add {
  background-color: var(--affirmative-button-background-color);
  color: var(--affirmative-button-color);
}

.remove {
  background-color: var(--danger-button-background-color);
  color: var(--danger-button-color);
}

.focus {
  background-color: var(--view-button-background-color);
  color: var(--view-button-color);
}
